.fullform-site {
  max-width: 580px;
  margin: 32px auto;
  padding: 2rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0,32,96,0.09);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullform-header {
  margin-bottom: 0rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullform-desc {
  color: #555;
  margin-top: 0.5rem;
}

.fullform-content {
  margin-top: 1rem;
  width: 100%;
}
